@font-face
{
	font-family: MSSansSerif;
	src: url('micross.ttf?');
}

*
{
	cursor: url("./res/cursor/default.png") 0 0, auto;
}

body
{
	margin: 0px;

	width: 100%;
	height: 100%;

	background-color: #008080;

	font-family: MSSansSerif;
	-webkit-font-smoothing: none;
	font-smooth: never;

	overflow: hidden;
}

#desktop
{
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: calc(100% - 28px);

	overflow: hidden;
}

#footer
{
	position: absolute;
	left: 0px;
	top: calc(100% - 28px);

	width: 100%;
	height: 28px;

	font-size: 14px;

	background-color: #004D40;
	background-image: url("./res/taskbar/bar.png");
}

#footer>.separator
{
	float: left;
	margin-left: 2px;

	width: 11px;
	height: 28px;

	background-image: url("./res/taskbar/separator.png");
}

#btn_start
{
	float: left;
	margin-left: 2px;

	width: 52px;
	height: 28px;

	background-image: url("./res/start/start.png");
}

#windows
{
	position: relative;
	left: 2px;

	float: left;

	width: calc(100% - 56px - 11px - 137px);
	height: 28px;
}

.windowt
{
	position: relative;

	float: left;
	margin-right: 4px;

	min-width: 80px;
	height: 100%;
}

.windowt>.left
{
	position: absolute;
	left: 0px;

	width: 2px;
	height: 100%;

	background-image: url("./res/taskbar/window_left.png");
}

.windowt>.mid
{
	position: absolute;
	left: 2px;

	width: calc(100% - 4px);
	height: 100%;

	background-image: url("./res/taskbar/window_mid.png");
}

.windowt>.mid>.title
{
	position: relative;
	left: 2px;
	top: 6px;

	font-size: 14px;
}

.windowt>.right
{
	position: absolute;
	right: 0px;

	width: 2px;
	height: 100%;

	background-image: url("./res/taskbar/window_right.png");
}

#info_panel
{
	float: right;

	width: 135px;
	height: 28px;

	background-image: url("./res/taskbar/info_panel.png");
}

#info_panel>#time
{
	text-align: right;
	height: 100%;

	overflow: hidden;

	padding: 7px 12px 3px 3px;
}

#menu_start
{
	position: absolute;
	left: 2px;
	top: 0px;

	display: none;

	width: 200px;
	height: calc((4 * 38px) + 2px + 6px);
}

#menu_start>#top
{
	width: 100%;
	height: 3px;

	background-image: url("./res/start/menu_top.png");
}

#menu_start>#mid
{
	width: 100%;
	height: calc(100% - 6px);

	background-color: #C0C0C0;
}

#menu_start>#mid>#left
{
	position: relative;
	float: left;

	width: 24px;
	height: 100%;

	background-image: url("./res/start/menu_left.png");
}

#mid>#left>#banner
{
	position: absolute;
	bottom: 0px;

	width: 100%;
	height: 122px;

	background-image: url("./res/start/menu_banner.png");
}

#menu_start>#mid>#mid
{
	float: left;

	width: calc(100% - 26px);
	height: 100%;
}

#mid>#mid>.separator
{
	width: calc(100% - 1px);
	height: 2px;

	background-image: url("./res/start/menu_separator.png");
}

.menu_option
{
	width: calc(100% - 1px);
	height: 38px;

	font-family: MSSansSerif;
	font-size: 16px;
}

.menu_option>.text
{
	position: relative;
	top: 9px;
	left: 8px;
}

#menu_start>#mid>#right
{
	float: right;

	width: 2px;
	height: 100%;

	background-image: url("./res/start/menu_right.png");
}

#menu_start>#bot
{
	width: 100%;
	height: 3px;

	background-image: url("./res/start/menu_bot.png");
}

#desktop>.window
{
	box-sizing: border-box;

	position: absolute;

	width: 400px;
	height: 300px;

	background-color: #C0C0C0;
}

.window>.top
{
	position: relative;

	width: 100%;
	height: 3px;
}

.window>.mid
{
	position: relative;

	width: 100%;
	height: calc(100% - 6px);
}

.window>.bot
{
	position: relative;

	width: 100%;
	height: 3px;
}

.window>.mid>.left
{
	position: absolute;
	left: 0px;
	top: 0px;

	width: 3px;
	height: calc(100% - 6px);
}

.window>.mid>.mid
{
	position: absolute;
	left: 3px;
	top: 0px;

	height: calc(100% - 6px);
	width: calc(100% - 6px);
}

.window>.mid>.mid>.bar
{
	position: relative;

	width: 100%;
	height: 20px;

	background-color: #010081;
	color: #FFFFFF;
}

.mid>.bar>.title
{
	position: relative;
	top: 0px;
	left: 4px;

	width: calc(100% - 8px - 15px - 6px);

	font-size: 16px;
}

.mid>.bar>.btn_close
{
	position: absolute;
	right: 3px;
	top: 3px;

	width: 15px;
	height: 13px;

	background-image: url("./res/windows/btn_close.png");
}

.window>.mid>.right
{
	position: absolute;
	right: 0px;
	top: 0px;

	width: 3px;
	height: calc(100% - 6px);
}

.window>.mid>.side_left
{
	position: absolute;
	left: 0px;
	top: 0px;

	width: 3px;
	height: 100%;

	background-image: url("./res/windows/side_left.png");
}

.window>.mid>.side_right
{
	position: absolute;
	right: 0px;
	top: 0px;

	width: 3px;
	height: 100%;

	background-image: url("./res/windows/side_right.png");
}

.window>.mid>.side_left:hover, .window>.mid>.side_right:hover
{
	cursor: url("./res/cursor/resize_ew.png") 8 3, auto;
}

.window>.top>.side_top
{
	position: absolute;
	left: 3px;
	top: 0px;

	width: calc(100% - 6px);
	height: 3px;

	background-image: url("./res/windows/side_top.png");
}

.window>.bot>.side_bot
{
	position: absolute;
	left: 3px;
	top: 0px;

	width: calc(100% - 6px);
	height: 3px;

	background-image: url("./res/windows/side_bot.png");
}

.window>.top>.side_top:hover, .window>.bot>.side_bot:hover
{
	cursor: url("./res/cursor/resize_ns.png") 3 8, auto;
}

.window>.top>.corner_topleft
{
	position: absolute;
	left: 0px;
	top: 0px;

	width: 3px;
	height: 3px;

	background-image: url("./res/windows/corner_topleft.png");
}

.window>.top>.corner_topright
{
	position: absolute;
	right: 0px;
	top: 0px;

	width: 3px;
	height: 3px;

	background-image: url("./res/windows/corner_topright.png");
}

.window>.bot>.corner_botleft
{
	position: absolute;
	left: 0px;
	top: 0px;

	width: 3px;
	height: 3px;

	background-image: url("./res/windows/corner_botleft.png");
}

.window>.bot>.corner_botright
{
	position: absolute;
	right: 0px;
	top: 0px;

	width: 3px;
	height: 3px;

	background-image: url("./res/windows/corner_botright.png");
}

.window>.top>.corner_topleft:hover, .window>.bot>.corner_botright:hover
{
	cursor: url("./res/cursor/resize_nw_se.png") 6 6, auto;
}

.window>.top>.corner_topright:hover, .window>.bot>.corner_botleft:hover
{
	cursor: url("./res/cursor/resize_sw_ne.png") 6 6, auto;
}

#fader
{
	position: absolute;
	left: 0px;
	top: 0px;

	margin: 0;

	width: 100%;
	height: 100%;

	background-color: #000000;

	z-index: 10;
	opacity: 1;
}

#testLength
{
	position: absolute;
	visibility: hidden;

	height: auto;
	width: auto;

	white-space: nowrap;
}

.hidden
{
	display: none;
}