@font-face
{
	font-family: MSSansSerif;
	src: url('micross.ttf?');
}

body
{
	margin: 0px;

	width: 100%;
	height: 100%;

	background-color: #009688;

	font-family: "RobotoDraft","Roboto", "Helvetica Neue", Helvetica, Arial;
	-webkit-font-smoothing: antialiased;

	overflow: hidden;
}

#desktop
{
	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: calc(100% - 28px);

	overflow: hidden;
}

#footer
{
	position: absolute;
	left: 0px;
	top: calc(100% - 28px);

	width: 100%;
	height: 28px;

	font-family: MSSansSerif;
	font-size: 14px;

	background-color: #004D40;
	background-image: url("./res/bar.png");
}

#footer>.separator
{
	float: left;
	margin-left: 2px;

	width: 11px;
	height: 28px;

	background-image: url("./res/separator.png");
}

#btn_start
{
	float: left;
	margin-left: 2px;

	width: 52px;
	height: 28px;

	background-image: url("./res/start.png");
}

#info_panel
{
	float: right;

	width: 135px;
	height: 28px;

	background-image: url("./res/info_panel.png");
}

#info_panel>#time
{
	text-align: right;
	height: 100%;

	overflow: hidden;

	padding: 7px 12px 3px 3px;
}

#menu_start
{
	position: absolute;
	left: 2px;
	top: 0px;

	display: none;

	width: 200px;
	height: calc((4 * 38px) + 2px + 6px);
}

#menu_start>#top
{
	width: 100%;
	height: 3px;

	background-image: url("./res/start_menu_top.png");
}

#menu_start>#mid
{
	width: 100%;
	height: calc(100% - 6px);

	background-color: #C0C0C0;
}

#menu_start>#mid>#left
{
	position: relative;
	float: left;

	width: 24px;
	height: 100%;

	background-image: url("./res/start_menu_left.png");
}

#mid>#left>#banner
{
	position: absolute;
	bottom: 0px;

	width: 100%;
	height: 122px;

	background-image: url("./res/start_menu_banner.png");
}

#menu_start>#mid>#mid
{
	float: left;

	width: calc(100% - 26px);
	height: 100%;
}

#mid>#mid>.separator
{
	width: calc(100% - 1px);
	height: 2px;

	background-image: url("./res/start_menu_separator.png");
}

.menu_option
{
	width: calc(100% - 1px);
	height: 38px;
}

#menu_start>#mid>#right
{
	float: right;

	width: 2px;
	height: 100%;

	background-image: url("./res/start_menu_right.png");
}

#menu_start>#bot
{
	width: 100%;
	height: 3px;

	background-image: url("./res/start_menu_bot.png");
}

.window, .bar
{
	box-sizing: border-box;
}

.window
{
	position: absolute;

	width: 400px;
	height: 300px;

	background-color: #B2DFDB;
	border: 3px solid #00897B;
}

.window .bar
{
	width: 100%;
	height: 23px;

	padding: 2px 3px 2px 3px;

	background-color: #00796B;
	border-bottom: 3px solid #00897B;
	color: #FFFFFF;
}