.prg_explorer.filebar
{
	position: relative;
	left: -1px;

	width: calc(100% + 1px);
	height: 22px;

	background-color: #C0C0C0;
}

.prg_explorer.filebar>.menus
{
	width: 100%;
	height: 20px;

	font-size: 13px;
}

.prg_explorer>.menus>.menu_entry
{
	float: left;

	position: relative;
	top: 1px;
	left: 1px;

	width: 34px;
	height: 100%;

	background-color: #C0C0C0;
}

.prg_explorer>.menus>.menu_entry:hover, .prg_explorer>.menus>.menu_entry.active, .prg_explorer>.menus>.menu_entry>.dropdown>.dropdown_entry:hover
{
	color: #FFFFFF;
	background-color: #0000BF;
}

.prg_explorer>.menus>.menu_entry>.text
{
	position: relative;

	text-align: center;
}

.prg_explorer>.menus>.menu_entry>.dropdown
{
	display: none;
	width: 96px;

	position: relative;
	left: 1px;
	top: 4px;

	background-color: #C0C0C0;

	z-index: 10;
}

.prg_explorer>.menus>.menu_entry>.dropdown>.dropdown_entry
{
	width: 100%;
	height: 16px;

	font-size: 13px;
	color: #000000;

	background-color: #C0C0C0;
}

.prg_explorer>.menus>.menu_entry>.dropdown>.dropdown_entry>.text
{
	position: relative;
	left: 2px;
}

.prg_explorer.filebar>.footer
{
	position: relative;

	width: 100%;
	height: 2px;

	background-image: url("res/in_top.png");

	z-index: 2;
}

.prg_explorer.mid
{
	position: relative;
	left: -1px;

	width: calc(100% + 1px);
	height: calc(100% - 19px);

	background-color: #FFFFFF;
}

.prg_explorer>.left, .prg_explorer>.footer>.left
{
	position: absolute;
	left: 0px;
}

.prg_explorer>.right, .prg_explorer>.footer>.right
{
	position: absolute;
	right: 0px;
}

.prg_explorer.mid>.left
{
	width: 2px;
	height: 100%;

	background-image: url("res/in_left.png");

	z-index: 2;
}

.prg_explorer.mid>.mid
{
	position: absolute;
	left: 2px;

	width: calc(100% - 2px);
	height: 100%;

	box-sizing: border-box;
	padding: 4px 4px 0px 4px;
}

.prg_explorer.mid>.right
{
	width: 2px;
	height: 100%;

	background-image: url("res/in_right.png");

	z-index: 2;
}

.prg_explorer.bot
{
	position: relative;
	left: -1px;

	width: calc(100% + 1px);
	height: 2px;

	background-image: url("res/in_bot.png");

	z-index: 2;
}

.prg_explorer.bot>.corner, .prg_explorer>.footer>.corner
{
	width: 1px;
	height: 2px;

	background-color: #7F787F;

	z-index: 3;
}

.prg_explorer.mid>.mid>.icon
{
	width: 74px;
	height: 53px;

	float: left;
	margin-bottom: 4px;

	box-sizing: border-box;

	border-width: 1px;
	border-color: rgba(0, 0, 0, 0);
	border-style: dotted;
}

.prg_explorer.mid>.mid>.icon>.icon
{
	margin: auto;

	width: 42px;
	height: 35px;
}

.prg_explorer.mid>.mid>.icon>.label
{
	position: relative;
	top: 4px;

	width: 100%;
	height: 12px;

	text-align: center;
	font-size: 11px;
}

.icon>.icon.ctrlpanel
{
	background-image: url("res/icon_ctrlpanel.png");
}

.icon>.icon.directory
{
	background-image: url("res/icon_directory.png");
}

.icon>.icon.disc
{
	background-image: url("res/icon_disc.png");
}

.icon>.icon.disk
{
	background-image: url("res/icon_disk.png");
}

.icon>.icon.file
{
	background-image: url("res/icon_file.png");
}

.icon>.icon.floppy
{
	background-image: url("res/icon_floppy.png");
}

.icon>.icon.txt
{
	background-image: url("res/icon_txt.png");
}